.animated-option-button {

    -fx-pref-width: 90px;
    -fx-background-radius: 10px;
    -fx-pref-height: 90px;
    -fx-text-fill: #e8f5fc;
    -fx-border-radius: 90px;
    -fx-border-width: 10px;
}

.animated-option-sub-button {
    -fx-background-color: #43609C;
}

.animated-option-button:hover {
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 1px, 1px, 1px, 1px;
    -fx-padding: 0em 0em 0em 0em; /* 4 8 4 8 */
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: RIGHT;
}
.label {

    -fx-text-fill: #C9952B ;
}

#submitButton {
    -fx-background-color: #C9952B;
}
