#navButton{
    -fx-opacity: .9;
}
#navButton:hover{
    -fx-opacity: 1;
}

.text {
    -fx-font-family: "gothic";
}

#profileView{
    -fx-border-color: transparent;
}

.button {
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 3, 2, 1;
    -fx-padding: 10 10 10 10;
    -fx-font-size: 14px;
    -fx-font-weight: Bold;
    -fx-border-color: #84A3FD;
    -fx-border-width: 0 0 1 0;

}

.jfx-hamburger StackPane { -fx-background-color: #D6DBE9; }
.VBox {
    -fx-background-color: #3c7fb1,
    linear-gradient(#fafdfe, #e8f5fc),
    linear-gradient(#eaf6fd 0%, #d9f0fc 49%, #bee6fd 50%, #a7d9f5 100%);
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 3, 2, 1;
    -fx-padding: 3 30 3 30;
    -fx-text-fill: black;
    -fx-font-size: 14px;
}

.button:pressed {
    -fx-scale-y: 0.95;
    -fx-scale-x: 0.95;
}
.button:hover{
    -fx-cursor: hand;
    -fx-fill: black;
}


#btnProfile{

    -fx-background-color: #3c7fb1,
    linear-gradient(#fafdfe, #e8f5fc),
    linear-gradient(#eaf6fd 0%, #d9f0fc 49%, #bee6fd 50%, #a7d9f5 100%);
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 3, 2, 1;
    -fx-padding: 10 30 10 30;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: Bold;
    /*-fx-border-style: none none none none;*/
    -fx-border-color: white;
    -fx-border-width: 0 0 1 0;
}
#btnSettings{
    -fx-background-color: #3c7fb1,
    linear-gradient(#fafdfe, #e8f5fc),
    linear-gradient(#eaf6fd 0%, #d9f0fc 49%, #bee6fd 50%, #a7d9f5 100%);
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 3, 2, 1;
    -fx-padding: 10 30 10 30;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: Bold;
    /*-fx-border-style: none none none none;*/
    -fx-border-color: white;
    -fx-border-width: 0 0 1 0;
}
#btnLogout{
    -fx-background-color: #3c7fb1,
    linear-gradient(#fafdfe, #e8f5fc),
    linear-gradient(#eaf6fd 0%, #d9f0fc 49%, #bee6fd 50%, #a7d9f5 100%);
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 3, 2, 1;
    -fx-padding: 10 30 10 30;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: Bold;
    /*-fx-border-style: none none none none;*/
    -fx-border-color: white;
    -fx-border-width: 0 0 1 0;
}

.menu-item .label {
    -fx-text-fill: white;
}

.menu-item:focused {
    -fx-background-color: darkgray;
}

.menu-item:focused .label {
    -fx-text-fill: darkgray;
}
#btnLogout{
    -fx-background-color:  #223A83;
    -fx-cursor: hand;
}
#btnProfile{
    -fx-background-color:  #223A83;
    -fx-cursor: hand;
}
#btnSettings{
    -fx-background-color:  #223A83;
    -fx-cursor: hand;
}
#profileView{
    -fx-cursor: hand;
}
#hamburger{
    -fx-cursor: hand;
}
#cir {
    -fx-cursor: hand;
}
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color :transparent;
    -fx-border-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-border-radius :1.0em;
}


.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 0.0 5.0 0.0;

}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 5.0 0.0 0.0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.15em 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0.15em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color :derive(black,90.0%);
    -fx-background-insets : 1.0, 0.0, 0.0;
    -fx-background-radius : 1.0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color :derive(#4D4C4F,10.0%);
    -fx-background-insets : 1.0, 0.0, 0.0;
    -fx-background-radius : 1.0em;
}
.menu-button > .arrow-button > .arrow {
    -fx-background-color: white;
    -fx-pref-height: 7;
    -fx-pref-width: 9;
}